cephClusterSpec:
  storage:
    nodes:
      - name: "172.29.20.218"
        devices:
          - name: "vdc"
      - name: "172.29.21.117"
        devices:
          - name: "vdc"
      - name: "172.29.20.47"
        devices:
          - name: "vdc"
